<nav id="page-header"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

    <!--/* LOGO */-->
    <div id="header-logo">
        <a href="/">
            <img src="/img/top-logo-colors.png" width="200px"/>
        </a>
    </div>

    <!--/* MENU */-->
    <div id="main-menu">
        <a id ="main-menu-home" sec:authorize-url="/" class="btn btn-primary" href="/" >Home</a>
        <a id ="main-menu-drug" sec:authorize-url="/drug" class="btn btn-primary"  href="/drug" >Drug</a>
        <a id ="main-menu-patient" sec:authorize-url="/patient" class="btn btn-primary"  href="/patient" >Patient</a>
        <a id ="main-menu-prescription" sec:authorize-url="/prescription" class="btn btn-primary" href="/prescription" >Prescription</a>
        <a id ="main-menu-user" sec:authorize-url="/user" class="btn btn-primary" href="/user" >User</a>
        <a id ="main-menu-utils" sec:authorize-url="/utils" class="btn btn-primary" href="/utils" >Utils</a>
    </div>

    <!--/* LOGIN - LOGOUT - PROFILE */-->
    <div id="page-auth" >
        <div id="page-auth-login" sec:authorize="!isAuthenticated()">
                <a class="btn btn-info" href="/login">Login</a>
        </div>

        <div id="page-auth-profile" sec:authorize="isAuthenticated()">
            <a class="btn btn-info" href="/profile">
                <span sec:authentication="name">Username</span>
            </a>
            <a class="btn btn-warning" href="/logout">Logout</a>
        </div>
    </div>

</nav>