<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>MentCARE Login</title>
    <div th:replace="common/head"></div>

</head>

<body>
    <div th:replace="common/header"></div>

    <div id="page-content">

        <div id="page-login">
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="input-username">
                        Username
                    </label>
                    <input class="form-control" type="text" name="username" id="input-username"/>

                    <label for="input-password">
                        Password
                    </label>
                    <input class="form-control" type="password" name="password" id="input-password"/>
                    <br>
                    <input class="btn btn-primary" type="submit" value="Login" />
                </div>
            </form>
        </div>

    </div>

    <div th:replace="common/footer"></div>
</body>
</html>