<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Create a new patient</title>
    <div th:replace="common/head"></div>
</head>

<body>
<div th:replace="common/header"></div>
<div id="page-content">


    <div id="page-patient-create">
        <h1 id = "page-patient-create-title" >Create a new patient</h1>
        <form action="/patient/save" method="post">
            Name: <input id="page-patient-create-name" type="text" name="name"><br>
            <!-- >Doctor<!-->
            <label for="page-patient-create-doctor">Doctor: </label>
            <select id="page-patient-create-doctor" name="doctor_id">
                <option value="1" th:each ="doctor : ${doctors}" th:text = "${doctor.name}" th:value ="${doctor.id}">John Watson</option>
            </select>
            </br>
            <input id="page-patient-create-submit" text="Create patient" type="submit"/>
        </form>
        <a id="page-patient-create-list" href="/patient">Go back to the list </a>

    </div>



</div>
<div th:replace="common/footer"></div>
</body>
</html>
