<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Create a new patient</title>
    <div th:replace="common/head"></div>
</head>

<body>
<div th:replace="common/header"></div>
<div id="page-content">


    <div id="page-patient-create">
        <h1 id = "page-patient-create-title" >Create a new patient</h1>
        <b id="error_msg" th:text="${error_msg}">Error message</b>
        <form action="/patient/save" method="post">
            Name: <input id="page-patient-create-name" type="text" name="name" class="form-control">
            <!-- >Doctor<!-->
            </br>

            <label for="page-patient-create-doctor">Doctor: </label>
            <select id="page-patient-create-doctor" name="doctor_id" class="form-select">
                <option value="1" th:each ="doctor : ${doctors}" th:text = "${doctor.name}" th:value ="${doctor.id}">John Watson</option>
            </select>
            </br>


            </br></br>
            <div class="center-wrapper">
                <input id="page-patient-create-submit" value="Create patient" type="submit" class="btn btn-primary btn-lg"/>
                <a id="page-patient-create-list" href="/patient" class="btn btn-secondary btn-lg">Go back to the list </a>

            </div>
        </form>
    </div>



</div>
<div th:replace="common/footer"></div>
</body>
</html>
