<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create a new patient</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<div th:insert="menu"></div>
<h1>Create a new patient</h1>
<form action="save" method="post">
  Name: <input type="text" name="name"><br>
  <!-- >Doctor<!-->
  <label for="doctor_selector">Doctor: </label>
  <select id="doctor_selector" name="doctor_id">
    <option value="1" th:each ="doctor : ${doctors}" th:text = "${doctor.name}" th:value ="${doctor.id}">John Watson</option>
  </select>
  </br>
  <input type="submit"/>
</form>
<a href="/patient">Go back to the list </a>
</body>
</html>