<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Updating a patient</title>
    <div th:replace="common/head"></div>
</head>

<body>
<div th:replace="common/header"></div>
<div id="page-content">

    <div id="page-patient-edit">
        <h1 id = "page-patient-edit-title" >Updating a patient</h1>
        <b id="error_msg" th:text="${error_msg}">Error message</b>

        <form action="update" method="post">

            Name: <input id="page-patient-edit-name" type="text" class="form-control" name="name" th:value="${patient.name}"><br>
            <!-- >Doctor<!-->
            <label for="page-patient-edit-doctor">Doctor: </label>
            <select id="page-patient-edit-doctor" name="doctor_id" class="form-select">
                <option value="2"
                        th:each ="doctor : ${doctors}"
                        th:text="${doctor.name}"
                        th:value="${doctor.id}"
                        th:selected="${doctor.id} == ${patient.mainDoctor.id} ? true : false"
                >John Watson</option>
                th:selected="${patient.id} == ${prescription.patient.id} ? true : false"
            </select>
            <input type="hidden" name="id" th:value="${patient.id}"/>
            </br></br>
            </br>
            <div class="center-wrapper">
                <input id="page-patient-edit-submit" type="submit" class="btn btn-primary btn-lg" value="Confirm changes"/>
                <a id="page-patient-edit-list" href="/patient"  class="btn btn-secondary btn-lg">Go back to the list </a>
            </div>
        </form>

    </div>



</div>
<div th:replace="common/footer"></div>
</body>
</html>