<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>ERROR: Patient not found</title>
    <div th:replace="common/head"></div>
</head>

<body>
<div th:replace="common/header"></div>
<div id="page-content">
    <div id="page-patient-error">
        <div class = "center-wrapper">
            <h1> 404 - Not found          <br>
            </h1>
            <h1 id ="page-patient-error-title">ERROR: Patient not found </h1>
            <a id="page-patient-error-list" href="patient" class="btn btn-secondary btn-lg">Go back to list</a>
        </div>
    </div>

</div>
<div th:replace="common/footer"></div>
</body>
</html>