<nav id="main-menu" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
    <div>
        <div>
            <span sec:authorize-url="/"><a href="/">Home</a></span>
            <span sec:authorize-url="/drug" ><a href="/drug">Drug</a></span>
            <span sec:authorize-url="/patient" ><a href="/patient">Patient</a></span>
            <span sec:authorize-url="/prescription" ><a href="/prescription">Prescription</a></span>
            <span sec:authorize-url="/user" ><a href="/user">User</a></span>
            <span sec:authorize-url="/utils" ><a href="/utils">Utils</a></span>
        </div>

        <div sec:authorize="!isAuthenticated()" style="text-align: right">
            <span><a href="/login">Login</a></span>
        </div>

        <div sec:authorize="isAuthenticated()" style="text-align: right">

            <span><a href="/profile"><span sec:authentication="name">Username</span></a></span> |
            <span><a href="/logout">Logout</a></span>
        </div>
    </div>
</nav>