<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>MentCARE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <div th:insert="menu"></div>
    <div id="page-login">
        <form th:action="@{/login}" method="post">
            <legend>
                Username:<input type="text" name="username"/><br>
                Password:<input type="password" name="password"/><br>
                <input type="submit" value="Login" />
            </legend>
        </form>
    </div>

</body>
</html>