<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Updating a prescription</title>
    <div th:replace="common/head"></div>
</head>

<body>
<div th:replace="common/header"></div>
<div id="page-content">



    <h1>Editing a prescription</h1>
    <form action="/prescription/save" method="post">

        <!--/* Prescription ID*/-->
        <input id= "perscription_id" type="text" class="form-control" name="prescription_id" value="1" th:value = "${prescription.id}" hidden/>
        </br>

        <!--/* Patient */-->
        <label for="patient_selector">Patient: </label>
        <select id="patient_selector" name="patient_id" class="form-select">
            <option value="1"
                    th:each = "patient : ${patients}"
                    th:text = "${patient.name}"
                    th:value = "${patient.id}"
                    th:selected="${patient.id} == ${prescription.patient.id} ? true : false">Jane Doe</option>
        </select>
        </br>

        <!--/* Drug */-->
        <label for="drug_selector">Drug: </label>
        <select id="drug_selector" name="drug_id" class="form-select">
            <option value="1"
                    th:each = "drug : ${drugs}"
                    th:text = "${drug.name}"
                    th:value = "${drug.id}"
                    th:selected="${drug.id} == ${prescription.drug.id} ? true : false">Ibuprofen</option>
        </select>
        </br>

        <!--/*Dosage */-->
        <label for="dosage_selector" >Dosage: </label>
        <input id= "dosage_selector" type="text" class="form-control" name="dosage" value="As per package leaflet" th:value = "${prescription.dosage}"/>
        </br>


        <!--/* Dates */-->
        <div class="center-wrapper">
            <div class="row">

                <div class="col">
                    <label for="datestart-selector">Start date:</label>
                    <input type="date" id="datestart-selector" name="dateStart"
                           value="2000-11-03"
                           th:value="${#dates.format(prescription.dateStart, 'yyyy-MM-dd')}"
                           min="2018-01-01"
                           th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
                </div>

                <div class="col">
                    <label for="dateend-selector">End date:</label>
                    <input type="date" id="dateend-selector" name="dateEnd"
                           value="2018-07-22"
                           th:value="${#dates.format(prescription.dateEnd, 'yyyy-MM-dd')}"
                           min="2018-01-01"
                           th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
                </div>

            </div>
        </div>


        </br></br>

        <div class="center-wrapper">
            <input id="submit-button" type="submit" class="btn btn-primary btn-lg" value="Confirm changes"/>
            <a id="button-go-back"  href="/prescription" class="btn btn-secondary btn-lg"> Go back to list </a>
        </div>
    </form>





</div>
<div th:replace="common/footer"></div>
</body>
</html>