<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Prescriptions</title>
    <div th:replace="common/head"></div>
</head>

<body>
<div th:replace="common/header"></div>
<div id="page-content">

    <h1>Prescriptions</h1>
    <table id="prescription-table" class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Patient</th>
            <th>Drug name</th>
            <th>Dosage</th>
            <th>Date start</th>
            <th>Date end</th>
            <th>Physician</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "prescription: ${prescriptions}">
            <td th:text = "${prescription.id}">1</td>
            <td th:text = "${prescription.patient.name}">Jane Doe</td>
            <td th:text = "${prescription.drug.name}">Ibuprofen</td>
            <td th:text = "${prescription.dosage}">10.0</td>
            <td th:text = "${#dates.format(prescription.dateStart, 'dd-MM-yyyy')}">11/03/2021</td>
            <td th:text = "${#dates.format(prescription.dateEnd, 'dd-MM-yyyy')}">11/03/2022</td>
            <td th:text = "${prescription.doctor.name}">11th Doctor</td>
            <td>
                <a href="editPrescription?id=1" th:href="@{prescription/edit(id=${prescription.id})}" class="btn btn-secondary btn-sm">Edit</a>
            </td>
            <td>
                <a href="deletePrescription?id=1" th:href="@{prescription/delete(id=${prescription.id})}" class="btn btn-secondary btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="center-wrapper">
    <a id ="create-prescription" class="btn btn-primary btn-lg btn-block wrapper" href="prescription/create" >Create new prescription</a>
    </div>


</div>
<div th:replace="common/footer"></div>
</body>
</html>