<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Welcome to MentCARE</title>
    <div th:replace="common/head"></div>
</head>

<body>
<div th:replace="common/header"></div>
<div id="page-content">
    <h1>Drugs</h1>


    <table id="prescription-table" class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Drug name</th>
            <th># of prescriptions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "drug: ${drugs}">
            <td th:text = "${drug.id}">1</td>
            <td th:text = "${drug.name}">Ibuprofen 500mg</td>
            <td th:text = "${drug.prescriptions.size()}">5</td>
        </tr>
        </tbody>
    </table>




</div>
<div th:replace="common/footer"></div>
</body>
</html>